.button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin: auto;
  outline: none;
  background: rgba(14, 14, 14, 0.801);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 3% 3%;
  border: 2px solid white;
  color: #fff;
  text-decoration: none;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
  will-change: transform;
  text-decoration-line: none !important;
}
.button:active {
  background: white;
  color: black;
  outline:none;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2);
  text-decoration-line: none !important;
}
.button:active {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 1px, 0);
  text-decoration-line: none !important;
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: rebeccapurple;
  border-radius: 0px;
}
.box select {
  background: none !important;
  color: rgba(255, 255, 255, 0.863);
  padding: 5px;
  border: 1.5px solid white;
  border-radius: 5px;
  margin-top: 1%;
  outline: none;
}
.box select option {
  color: black !important;
}
