.clicked {
    color: blueviolet;
    background: white;
    font-weight: 600;
}
.MuiOutlinedInput-input{
    direction: rtl !important;
    
}
.MuiFormHelperText-contained{
    text-align: center !important;
    color: red !important;
}

.modal-content{
    background: none !important;
    border: none !important;
}
.MuiFormLabel-root.Mui-focused:focus{
    color: white !important;
}

/* .MuiFormLabel-root{
    border: none !important;
    color: white !important;
} */