body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --purple: rgb(140, 0, 175);
  --red_sign: red;
  --primary: blueviolet;
}
a{
  color: white;
}
a:hover{
  color: white !important;
  text-decoration: none !important;
}
.back{
  background: rgba(172, 120, 172, 0.788);
}
.seat{
  background: rgba(255, 174, 0, 0.699);
}
.checkbox{
  width: 15px;
  height: 15px;

  border-radius: 6px;
  
}
.red{
  background-color: rgba(255, 0, 0, 0.5);
}
.green{
  background-color: rgba(0, 128, 0, 0.5);
}
.orange{
  background-color: rgba(255, 166, 0, 0.5);
}
.sticky_bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 10%;
  float: right;

  
}
.sticky_bottom::a {
  float: right;
  margin-right: 10%;
  margin-bottom: 10%;
  padding: 4% 4%;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.777), -2px -2px 8px rgba(0, 0, 0, 0.777);
}